
/*--------------------------------------------------------------------------supper small---------------------------------------------------------------*/
@media (max-width:300px) {
  /*=======================head===============*/


    /*=======================head===============*/
}
/*--------------------------------------------------------------------------supper small---------------------------------------------------------------*/




/*------*************************************************************************---sm-----**************************************************************************-----*/
@media (max-width: 575px) {


col-6{
  display: none;
}


.logo img{
  display: flex;
  max-width: 100px;
  height: auto;
}
span{
  display: none;
}
  .logo{
    max-width:100vw;
  }
.over_text h1 {
  font-size: 30px;
}
.over_text h6{
  max-width: 90%;
}
.t_kartor_text{
  background-image: url(../img/action-adre.jpg);
  background-size: cover;
  background-repeat: no-repeat;


}
img{
  display: none;
}

}

  /*=======================head===============*/


}
.img_adult img {
    max-width: 100vw!important;
}


/*------*************************************************************************---sm-----**************************************************************************-----*/


/*-----999999999999999999999999999999999999999999999999999999999999999---------md-----9999999999999999999999999999999999999999999999999999------*/
@media (max-width: 766px) {
  .img img{
      max-width: 200px;
      max-height: 400px
  }
  .t_kartor_text{
      padding-right: 30px;
  }
  .t_kartor_text h2{
      font-size: 20px;
      padding: 0 30px  30px 0;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
  }
  .t_kartor_text h3{
      padding: 10px 0;
      font-weight: bold;
      font-size: large;
      color: white;
  }
  .t_kartor_text h6{
      padding: 10px 0;
      font-size: small;
      color: white;
  }

}


/*-----999999999999999999999999999999999999999999999999999999999999999---------md-----9999999999999999999999999999999999999999999999999999------*/

/*----------]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]---lg------]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]------*/
@media (max-width: 991px) {

.img{

}
.img img{
    max-width: 300px;
    max-height: 650px;
}
}


/*----------]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]---lg------]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]------*/



/*-----kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk-----------xl------kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk---------*/
@media (max-width: 1199px) {

  .img img{
      max-width: 400px;
      max-height: 650px;
  }
}
/*-----kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk-----------xl------kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk---------*/
